<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.baymax.weather.forecast.App"
        android:allowBackup="false"
        android:icon="@drawable/icon_launcher_100"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.baymax.weather.forecast.weather_forecast.presentation.activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="WEATHER_API_KEY"
            android:value="${WEATHER_API_KEY}" />

        <meta-data
            android:name="GOOGLE_PLACE_API_KEY"
            android:value="${GOOGLE_PLACE_API_KEY}" />

    </application>

</manifest>